@media screen and   (max-width:1025px) {
    .hero{
        padding: 80px 50px !important;
    }
    
    
    .hero-content h2{
        font-size: 20px ;
    }

    .hero-content h3{
        font-size: 48px ;
        line-height: 39px ;
        margin: 0px 0px 10px ;
    }
    
    .hero-text{
        font-size: 12.3vw ;

    }

    .hero-right-content{
        right: 50px;
        bottom: 50px;
    }

    .hero-right-content{
        max-width: 222px;
    }
}
@media  screen and (max-width:769px) {
    .open-popup-link,
    .open-popup-link:focus{
    height: 70px;
    outline: none !important;
    width: 50%;
    border: none;
}

button:focus:not(:focus-visible){
    color: white;
    outline: none;
}

#navbar-popup{
    align-items: center;
    height: 80vh;
    transition: all 0.5s ease;
    text-align: center;
    justify-content: center;
}

.nav-link{
    margin: 20px 0px;
}

.nav-link.active{
    color: #000;
}

#navbar-popup button{
    position: absolute;
    left: auto;
    border-radius: 50%;
    right: auto;
    border: 1px solid #707070;
}

.open-popup-link i{
    display: none;
}

.swiper{
    width: 80%;
    display: flex;
}



.hero{
    overflow: hidden;
    padding: 80px 50px !important;
}


.hero-content h2{
    font-size: 20px ;
}

.hero-img{
    width: 100%;
    height: auto;
}

.hero-content h3{
    font-size: 48px ;
    line-height: 39px ;
    margin: 0px 0px 10px ;
}

.hero-text{
    font-size: 12.3vw ;
    line-height: 100px;
}

.hero-right-content{
    right: 50px;
    bottom: 50px;
    max-width: 222px;
}

.side-button:nth-child(3){
    display: none;
}
}
@media  screen and (max-width:456px){
    nav{
        padding: 15px 10px !important;
    }
    
    .button-container button,
    .bi-search{
        padding: 10px 10px 0px 0px !important;
    }

    .open-popup-link,
    .open-popup-link:focus{
        width: auto;
        color: black;
        padding: 5px;
        height: auto;
    }

    button:focus:not(:focus-visible){
        color: black;
        outline: none;
    }

    .open-popup-link i{
        display: block;
    }

    .dropdown-menu {
        display: none;
    }
    .swiper{
        display: flex;
        flex-direction: row-reverse;
    }
    .swiper{
        width: auto;
        display: flex;
    }

    .hero{
        width: 95%;
        height: auto;
        padding: 14% 5% !important;
    }

    .hero-content h2{
        font-size: 14px;
        line-height: 21px;
    }

    .hero-content h3{
        font-size: 31px;
    }

    .hero-content a{
        padding: 10px 20px;
    }

    .hero-img{
        height: auto;
        width: 100%;
        left: 50px;
    }

    .hero-content a:hover::before{
        padding: 10px 20px;
    }

    .hero-text{
        font-size: 12.3vw ;
        line-height: 40px;
    }

    .hero-right-content{
        display: none;
    }
    
    .side-buttons{
        transform: translate(37px,-50%);
    }

    .side-button:nth-child(1){
        display: none;
    }
}
