@media  screen and (max-width:769px) {
    .open-popup-link,
    .open-popup-link:focus{
    height: 70px;
    outline: none !important;
    width: 50%;
    border: none;
}

button:focus:not(:focus-visible){
    color: white;
    outline: none;
}

#navbar-popup{
    align-items: center;
    height: 80vh;
    transition: all 0.5s ease;
    text-align: center;
    justify-content: center;
}

.nav-link{
    margin: 20px 0px;
}

.nav-link.active{
    color: #000;
}

#navbar-popup button{
    position: absolute;
    left: auto;
    border-radius: 50%;
    right: auto;
    border: 1px solid #707070;
}

.open-popup-link i{
    display: none;
}

nav  .flex-item:nth-of-type(1) { order: 1 !important; }
nav  .flex-item:nth-of-type(2) { order: 2 !important; }
nav  .flex-item:nth-of-type(3) { order: 3 !important; }
nav  .flex-item:nth-of-type(4) { order: 4 !important; }
}
@media  screen and (max-width:456px){
    nav{
        padding: 15px 10px !important;
    }
    
    .button-container button,
    .bi-search{
        padding: 10px 10px 0px 0px !important;
    }

    .open-popup-link,
    .open-popup-link:focus{
        width: auto;
        color: black;
        padding: 5px;
        height: auto;
    }

    button:focus:not(:focus-visible){
        color: black;
        outline: none;
    }

    .open-popup-link i{
        display: block;
    }
    
nav  .flex-item:nth-of-type(1) { order: 1 !important; }
nav  .flex-item:nth-of-type(2) { order: 4 !important; }
nav  .flex-item:nth-of-type(3) { order: 2 !important; }
nav  .flex-item:nth-of-type(4) { order: 3 !important; }
}